/* DETAIL-ALBUM.HTML */
.banner-detail-album{
    height: 250px;
    width: 100%;
    overflow: hidden;
    
}
.banner-detail-album::before{
    position: absolute;
    height: 250px;
    background: linear-gradient(to top, rgb(3, 3, 3, 0.99), rgba(0, 0, 0, 0.18));
    content: "";
    width: 100%;
}

.banner-album-responsive{
    display: none;
}
.banner-album {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.justice-title{
    /* display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 35px ;
    line-height: 0;
    margin: 55px;
    border-radius: 25px;
    background-color: rgba(82, 75, 75, 0.5);
    text-shadow: 4px 4px 7px black;
    padding: 30px */
    width: 100%;
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
 }
 .justice-title h1{
    padding: 10px;
    padding-left: 30px;
    font-size: 70px;
    text-align: center;
 }
.article-main-album{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    margin: 55px;
    padding: 15px;
 }
.section1-album{
    font-size: 40px;
  }
.fotoalbum{
    height: 650px;
    width: auto;
    border-radius: 25px;
 }
.section2-album{
    font-size: 25px;
 }


 .songs-album {
    padding: 20px;
 }
 .songs-album li{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px; 
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

 }
 .songs-album li a{
    padding: 10px;
 }
.songs-album li:hover{
        background-color: rgba(255, 255, 255, 0.15);
    }
 
.detalles-album{
    font-size: 45px;
    padding-left: 30px;
 }
.detalles-album:hover{
    background-color: rgba(20, 20, 20, 0.2);
    cursor: pointer;
 }
 .section2-album li{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 10px; 
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.section2-album  li:hover{
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}
.section2-album li a:hover{
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
}
.genres-album{
    font-size: 45px;
    text-shadow: 4px 4px 7px black;
    text-align: center;
}
.genres-album:hover{
    background-color: rgba(20, 20, 20, 0.2);
    cursor: pointer;}


    @media (max-width: 420px){

        /*DETAIL-ALBUM*/
        .banner-detail-album{
           height: 150px;
       }
       .banner-detail-album::before{
           height: 150px;
       }
       .banner-album{
           display: none;
       }
       .banner-album-responsive{
           display: flex;
           width: 100%;
       }
       .justice-title{
           font-size: 15px;
           width: initial;
           margin: 0%;
           margin-top: 20px;
           padding: 20px
       }
       
       .main-detail-album{
           display: flex;
           flex-wrap: wrap;
           justify-content: center;}
       
       
       .fotoalbum{
       width: 230px;
       height:auto
       }
       
       .article-main-album{
           width:85%;
           flex-wrap: wrap;
           
       }
       
       .section1-album{
           margin: 20px;
           margin-bottom: 20px;
           font-size: 30px;
       }
       
       .genres-album{
           font-size: 25px;
           align-items: center;
       }
       
       .detalles-album{
           margin-top: 0px;
           font-size: 30px;
           text-decoration: underline;
       
       }
       .section2-album{
           margin: 10px;
           font-size: 20px;
           width: 100%;
       }
       
       .section1-album ul{
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
       }
       
       .section2-album li{
           margin: 10px;
           font-size: 20px;
           width: 100%;
       
       }
       .section2-album ul{
           display: flex;
           flex-wrap: wrap;
       }
       
        
       }
           