.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

.links-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
    width: 40%;
}

.search-container {
    color: black;
}

.search-input {
    color: black;
}


/* HEADER */
 header {
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.imagenes-logo{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    justify-content: center;
  }
.alerta{
    margin: 0px;
    width: 60%;
    display: flex;
    justify-content: center;
}
.probando1{
    margin: 0px;
    display: none;
    justify-content: center;
    background-color: red;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;

}
.probando2{
    margin: 0px;
    display: none;
    justify-content: center;
    background-color: red;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;  
}
.logo{
    width: 100%;
    height: 66%;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-wrap: wrap;
    
    flex-direction: column;
}
.logo img{
    height: 90%;
}
.navegador {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
}
.navegador img{
    height: 100%;
    margin-right: 10px;
}
.search{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}
.search input {
    font-size: 14px;
    background-image: linear-gradient(rgb(24, 24, 24), black );
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: solid 1.5px rgb(16, 135, 233);
}
.search button {
    font-size: 17px;
    background-image: linear-gradient(rgb(24, 24, 24), black );
    color: white;
    width: 10%;
    padding: 10px;
    border: none;
    border-bottom: solid 1.5px rgb(16, 135, 233);
    cursor: pointer;
}
.search button:hover {
    background: rgba(255, 255, 255, 0.2);
    border-bottom: solid 1.5px rgb(16, 135, 233);
}
.navegador ul {
    font-size: 20px;
    width: 50%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navegador li {
    padding: 5px 10px;
    border-bottom: solid 3px transparent;
}
#home:hover, #vermas:hover{
    border-bottom: solid 1.5px rgb(16, 135, 233); 
    /* border-bottom: solid 2px rgb(108, 108, 108); */
}
#my-playlist a{
    padding: 5px;
}
#my-playlist{
    background-color: rgb(16, 135, 233);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 40px;
    border-bottom: none;
}
#my-playlist:hover{
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(28, 146, 243);
    border-bottom: none;
}

/*JS*/
 
.closeIcon{
    display: none
 }
 .alert,
 .closeIcon {
    color:rgb(238, 96, 78);
    font-size: 30px;
    margin: 10px;
 } 

  
