/* FOOTER */
footer {
    background-color: rgba(255, 255, 255, 0.1);
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.integrantes{
    margin: 10px;
}
.copyright {
    width: 20%;
}
.logo-copy {
    width: 5%;
}

@media (max-width: 420px){
 /*FOOTER*/
 .integrantes{
    font-size: 12px;
}
.logo-copy{
    width: 20%;
}

}